{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
    社内SNS
</div>
{% endblock header %}

{% block content %}
<div class="container">
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <p>タイトル：{{ item.title }}</p>
        <p>投稿者：{{ item.author }}</p>
        <a href="{% url 'detail' item.pk %}"><button type="button" class="btn btn-success">詳細</button></a>
        <button type="button" class="btn btn-primary">いいね！：{{ item.good }}</button>
        <button type="button" class="btn btn-secondary">既読：{{ item.read }}</button>
    </div>
    {% endfor %}
    <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">ログアウト</button></a>
</div>
{% endblock content %}